
<% if user_signed_in? %>
<h1>Bienvenido <%= current_user.first_name %></h1>
<% end %>

<table>
    <tbody>
    <% if @photos %>
    <td>Fotos:</td>
    <td><%= @photos.size %></td>
    <% end %>
    </tbody>
</table>

<% if @photos %>

<div class="container photos row">
    <% @photos.each do |photo| %>
    <%= render 'photos/photo', photo: photo %>
    <% end %>
</div>

<% end %>
